

html{
    background-color: #92DAE6;
}


.titulo_correo_olvidar{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3em;    
}

.titulo_revisar_mail{
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;    
    background-color:rgb(255, 253, 253) ;
    padding: 2%;
    border-radius: 1em;
    margin-left: 20%;
    margin-right: 20%;

}
.mail_olvidar{
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;    
}
.form_olvidar {
    background-color: rgb(255, 253, 253);
    padding: 3em;
    border-radius: 1em;
    box-shadow: 1em 0.5em #01295F;
    width: 30em;
    margin-left:20em ;
    margin-right: 15em;
    margin-top: 1em;
}
.select_olvidar{
    background-color: #dde6e6;
    width: 30%;
    height: 20%;
}
.input_olvidar[type="text"], .input_olvidar[type="password"] ,.input_olvidar[type="email"],.textarea_olvidar{
background-color: #dde6e6;
font-family: 'Roboto Mono', monospace;
font-size: 1em;
padding: 10px;
border-radius: 5px;
border: none;
width: 100%;
margin-right: 4em;
margin-bottom: 15px;
resize: none;
  }
.input_olvidar[type="submit"] {
background-color: #222424;
color: rgb(255, 255, 255);
padding: 10px;
margin-left: 25%;
border: none;
border-radius: 5px;
cursor: pointer;
width: 50%;
}
.input_olvidar[type="submit"]:hover {
background-color: #4cafa8;
}


.form_olvidar {
padding-top: 0%;
font-size: 1.2em;
font-weight: 700;
font-family: 'Smooch Sans', sans-serif;
}

.imagen_olvidar{
padding: 0%;
height: 20%;
width: 30%;

}
.pie_pagin_olvidar{
font-family: 'Smooch Sans', sans-serif;
position: absolute;
bottom: 0;
left: 65em;

}


.cabecera_olvidar img{
margin-top: 2%;
margin-left: 36%;
width: 20%;
height: 20%;
transition: transform 0.2s ease-in-out;
}

.cabecera_olvidar img:hover {
transform: translateX(5px);
}
#login_olvidar{
text-align: center;
margin-top: 0%;
}
@font-face {
    font-family: "Titulo_font";
    src: url("../fonts/ka1.ttf");
}